<div class="container ">
    <app-search-bar (userEmitter)='getRepo($event)'></app-search-bar>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h2 class="text-center">REPOSITORIES FOUND </h2>
            <hr>
            <div class="container card-columns">
                <div class="card mb-3" *ngFor="let repo of myRepo">
                  <div class="card">
                    <div class="card-header text-center"><h2 id="rname">{{repo.name}}</h2></div>
                    <div class="card-body">
                      <p id="rdesc" class="text-center">{{repo.description}}</p>
                      <p id="rlang" class="text-center"><i class="far fa-file-code"></i>{{repo.language}}</p>
                    </div>
                    <div class="card-footer flex-footer">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="#" class="btn btn-outline-secondary"><i class="fas fa-code-branch">{{repo.forks}}</i></a>
                                
                            </div>
                            <div class="col-sm-4">
                                <a href="#" class="btn btn-outline-secondary"><i class="fas fa-eye"></i>{{repo.watchers}}</a>
                            </div>
                            <div class="col-sm-4">
                                <a href="{{repo.html_url}}" class="btn btn-outline-secondary">View</a>
                            </div>
                        </div>
                      
                    </div>
                  </div>
                </div>
        </div>
        <div class="col-sm-3"></div>
    </div> <!--End of row-->
</div>









