<div class="container">
    <app-search-bar></app-search-bar>

    <h2>REPOSITORIES FOUND </h2>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header  border-dark text-center">Repository Name</div>
                <div class="card-body text-dark">
                  <h5 class="card-title">Repository Description</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer  border-dark">
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="#" class="btn btn-outline-secondary"><i class="fas fa-code-branch"></i> </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="#" class="btn bt-outline-seconday"><i class="fas fa-eye"></i> </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="#"class="btn bt-outline-seconday"git ><i class="fas fa-code-branch"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6"><app-user-data></app-user-data></div>
    </div>
    
   
    
</div>