/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
  }
  .logo {
    font-size: 18px;
    margin: 10px;
  }
  #color-txt {
    color: yellow;
    font-size: 22px;
  }
  .menu ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  .menu li {
    list-style: none;
  }
  .menu li a {
    text-decoration: none;
    color: #fff;
    padding: 14px 16px;
    display: block;
    font-size: 19px;
  }
  .menu li a:hover {
    background-color: yellow;
    color: #000;
  } */