<div class="container">
  <!-- <app-search-bar [myUser]="myU></app-search-bar> -->
<app-search-bar (userEmitter)='getUser($event)' ></app-search-bar>

<div *ngFor='let user of myUser'>

  <h5>User name {{user.bio}}</h5>
  <img src="{{user.avatar_url}}" class="card-img-top" alt="...">
</div>


  
<!-- </div>
    <h2 class="text-center"> User</h2>
     <h5>User name {{u.bio}}</h5> -->
    <!-- <hr> -->
    <!-- <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="{{u.avatar_url}}" class="card-img-top" alt="...">
                <div class="card-body">
                 
                  
                  <div class="row">
                    <div class="col-sm-6">
                      <p class="card-text"><i class="fa fa-user-plus" aria-hidden="true"></i><small>FOLLOWING</small></p>
                    </div>
                    <div class="col-sm-6">
                      <p></p>
                      <p class="card-text"><small>FOLLOWER</small></p>
                    </div>
                  </div>
                
                  <p>School</p>
                  <p>Moringa School</p>
                  <p>Nairob, Kenya</p>
                  <p>Twitter</p>
                  
                </div>
              </div>
        </div>
    </div>  -->
   
</div>