<div class="container">
<app-search-bar (userEmitter)='getUser($event)' ></app-search-bar>

<div>
</div>
    <h2 class="text-center"> User</h2>
    
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="{{myUser[0].avatar_url}}" class="card-img-top" alt="...">
                <h5 class="text-center mt-2"> {{myUser[0].bio}}</h5>
                <div class="card-body">
                 
                  
                  <div class="row">
                    <div class="col-sm-6">
                      <p class="card-text" class="btn btn-outline-secondary">{{myUser[0].following}}<small>FOLLOWING</small></p>
                    </div>
                    <div class="col-sm-6">
                      <p class="card-text" class="btn btn-outline-secondary">{{myUser[0].followers}}<small>FOLLOWER</small></p>
                    </div>
                  </div>
                  <hr>
                  <p class="card-text" ><i class="fas fa-building"></i>{{myUser[0].company}}</p>
                  <p class="card-text" ><i class="fas fa-map-marker-alt"></i>{{myUser[0].location}}</p>
                  <p class="card-text" ><i class="far fa-calendar-alt"></i>Joint on:{{myUser[0].created_at | date}}</p>
                  <hr>
                  
                </div>
              </div>
        </div>
    </div>
   
</div>